### macOS ###
# General
.AppleDouble
.LSOverride
*.xcuserstate
*.DS_Store
.DS_Store


*.xcuserdatad

# 或略未完成项目
AppPaywalls
AppPaywalls/*

# 忽略IDE文件
.idea/*
.idea
.env.secret
.vscode/*
.vscode
.idea
.idea/*
